body {
  padding: 50px;
  background-color: #060606;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
}

#footer {
  justify-content: center;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 94%;
  height: 10rem;
}
